<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="form-group">
    <%= label_tag :username %><br />
    <%= text_field_tag :name, params[:name], class: 'form-text', autofocus: true %>
  </div>
  <div class="actions"><%= submit_tag "Log In", class: 'btn btn-primary' %></div>
<% end %>